# FAQ about domain name verification {#concept_zlk_nnb_5gb .concept}

-   [Why is domain name verification necessary?](#section_dqs_3pb_5gb)
-   [Why did the domain name verification for my website fail?](#section_bkl_tnb_5gb)
-   [What impact does domain name verification failure have?](#section_nt2_grb_5gb)
-   [What type of ICP Filing requires domain name verification?](#section_xbh_qpb_5gb)
-   [What are the domain name verification rules for ICP Filing?](#section_b5h_xpb_5gb)
-   [How do I complete the registrant ownership statement template?](#section_xbm_mqs_zdb)
-   [Operations related to Alibaba Cloud domain names](#section_m5m_4rs_zdb)

## Why is domain name verification necessary? {#section_dqs_3pb_5gb .section}

To adhere to the [*Notice of the Ministry of Industry and Information Technology on Regulating the Use of Domain Names by Internet Information Service Providers*](http://www.miit.gov.cn/newweb/n1146285/n1146352/n3054355/n3057709/n3057714/c5930543/content.html), Alibaba Cloud ICP Filing System has started performing domain name verification for submitted ICP Filing applications as of 00:00 January 1, 2018.

## Why did the domain name verification for my website fail? {#section_bkl_tnb_5gb .section}

For more information, see [Reasons and solutions for domain name verification failure](reseller.en-US/FAQ/Other FAQs/Reasons and solutions for domain name verification failure.md#).

## What impact does domain name verification failure have? {#section_nt2_grb_5gb .section}

If your website fails to pass domain name verification, Alibaba Cloud will stop providing ICP Filing transfer services for you, according to the requirements of the communications administration offices.

## What type of ICP Filing requires domain name verification? {#section_xbh_qpb_5gb .section}

|ICP Filing type|Domain name verification scope|Description|
|:--------------|:-----------------------------|:----------|
|Initial ICP Filing|All domain names of the website are verified.|None|
|Add a new website for ICP Filing|All domain names of the new website are verified.|None|
|Modify ICP Filing information| -   For modifications of ICP Filing information for a website domain name completed before January 1, 2018, domain names are not verified.
-   For modifications of ICP Filing information for a website domain name completed after January 1, 2018, domain names are verified.

 |None|
|Cancel a subject|Domain name verification is not performed.|After the ICP Filing is canceled, if you resubmit the website domain name for ICP Filing, domain names are verified.|
|Cancel a website ICP Filing|Domain name verification is not performed.|After the ICP Filing is canceled, if you resubmit the website domain name for ICP Filing, domain names are verified.|
|Cancel ICP Filing information transfer|Domain name verification is not performed.|After the ICP Filing transfer is canceled, if you want to transfer it again, domain names are not verified.|

## What are the domain name verification rules for ICP Filing? {#section_b5h_xpb_5gb .section}

The verification of the domain name is successful only when all of the following criteria are met:

-   The TLD must be approved by the Ministry of Industry and Information Technology of the People's Republic of China \(MIIT\). For more information about the authorized domain name registrars, see the [MIIT's website](http://域名.信息).
-   Your domain name must be registered with and administered by a domain name registrar authorized by the MIIT. For the authorized domain name registrars, see [MIIT's website](http://域名.信息).
-   Your domain name must be within the validity period. You can visit [Alibaba Cloud WHOIS System](http://whois.aliyun.com/) for domain name information queries.
-   Your domain name must have passed real-name authentication.
-   The information of the ICP Filing subject must be consistent with the registrant \(domain name holder\) information.

    -   Individual ICP Filing: The information of the ICP Filing subject must be consistent with the registrant \(domain name holder\) information \(name, document type, and document number\).
    -   Organization ICP Filing: The information of the ICP Filing subject \(the ICP Filing subject or the subject administrator\) must be consistent with the registrant \(domain name holder\) information \(name, document type, and document number\). If the domain name registrant’s real-name authentication information is not consistent with the ICP Filling subject information, provide the relevant evidentiary materials to Alibaba Cloud ICP Filing System \(this is only supported by certain provinces/municipalities\).

## How do I complete the registrant ownership statement template? {#section_xbm_mqs_zdb .section}

If you are required to upload a statement for your domain name ownership, download the [Registrant ownership statement template](http://docs-aliyun.cn-hangzhou.oss.aliyun-inc.com/assets/attach/64289/cn_zh/1514873663673/%E6%9C%89%E5%85%B3%E7%BD%91%E7%AB%99%E5%A4%87%E6%A1%88%E5%9F%9F%E5%90%8D%E6%B3%A8%E5%86%8C%E4%BA%BA%E7%9A%84%E8%AF%81%E6%98%8E%E5%8F%8A%E9%99%84%E4%BB%B62.0.docx) and enter the required information.

